body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.content {
    background-color: hsl(195, 100%, 85%);
    margin: 8px auto;
    width: 400px;
    height: auto;
    padding: 4px 18px;
    border: 2px solid black;
}

img {
    width: 400px;
    height: auto;
    border: 2px solid black;
}


.item, ul, ol {
    background-color: white;
    border: 2px solid black;
}

ul,
ol {
    padding: 8px;
}

.item {
    padding: 0 8px;
}

li {
    margin: 2px 0 2px 18px;
}